Source: php-tesseract
Priority: extra
Maintainer: eli <freetogo@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/php-tesseract.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/php-tesseract.git;a=summary

Package: php-tesseract
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
